.react-calendar {
  width: initial !important;
}

.react-calendar__tile--active {
  background-color: $theme-color !important;
}

@media screen and (max-width: 350px) {
  .react-calendar {
    display: none !important;
  }
}
