<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="index.css" />
    <title>Takatask</title>
  </head>
  <body>
    <h1>Welcome to TakaTask</h1>
    <h3>Made by Arwen Christian Ceres</h3>
    <p>Visit me on:</p>
    <a href="#">Github</a>
    <a href="https://www.linkedin.com/in/arwenceres/" target="_blank"
      >LinkedIn</a
    >
  </body>
</html>
