$theme-color: hsl(198, 66%, 55%);
$theme-color-hover: hsl(198, 66%, 45%);
$accent-color: #07020d;
$accent-color-hover: hsl(267, 73%, 10%);
$primary-color: #a39b8b;
$primary-color-hover: hsl(40, 12%, 49%);
$secondary-color: #f1e9db;
$secondary-color-hover: hsl(38, 44%, 85%);
